<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
     <a class="nav-link" href="#"><img src="https://static-mh.content.disney.io/matterhorn/assets/goc/disney_logo_dark@2x-45d70f7dd57b.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link fw-bold" [routerLink]="['/card']" routerLinkActive="router-link-active" aria-current="page" href="#">Characters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="#">videoGames</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  